.home__container {
    background-image: url('https://www.spacex.com/static/images/backgrounds/dragon_feature.webp');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
